<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054855425547-id063q8fgsnfcmgnln8jirqd5pna4gsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054855425547-id063q8fgsnfcmgnln8jirqd5pna4gsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAllVWJx06SGNfYsl7RgWro2TTAhLJ-dRI</string>
	<key>GCM_SENDER_ID</key>
	<string>1054855425547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSamegame</string>
	<key>PROJECT_ID</key>
	<string>flutter-samegame</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-samegame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054855425547:ios:6b2c9bf960ffd12504210e</string>
</dict>
</plist>